$yellow: #f7b200;
$black: #231f20;
$green: #6ad051;

$regular-desktopText: 14px;
$regular-mobileText: 11px;
$title-font: 40px;
$lsv-desktopFont: 20px;
$lsv-mobileFont: 20px;
$large-desktopText: 18px;
$large-mobileText: 12px;
